.141_2 {
  overflow: hidden;
}
.e141_2 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 785px;
  position: absolute;
}
.e141_3 {
  background-color: rgba(
    124.00000020861626,
    58.00000034272671,
    237.0000010728836,
    1
  );
  width: 1440px;
  height: 836px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_4 {
  background-color: rgba(255, 255, 255, 1);
  width: 49.89114761352539px;
  height: 56px;
  position: absolute;
  left: 35px;
  top: 32px;
}
.e141_5 {
  width: 115px;
  height: 244px;
  position: absolute;
  left: 35px;
  top: 147.64236450195312px;
}
.e141_131 {
  width: 115px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_132 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_133 {
  background-color: rgba(255, 255, 255, 1);
  width: 13.75px;
  height: 17.5px;
  position: absolute;
  left: 3.125px;
  top: 1.25px;
}
.e141_134 {
  width: 79px;
  height: 20px;
  position: absolute;
  left: 36px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_135 {
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.141_136 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e141_136 {
  width: 9.999999974752427e-7px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 20px;
}
.e141_137 {
  width: 59px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 56px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_138 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e158_382 {
  background-color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 15px;
  height: 14px;
  position: absolute;
  left: 3px;
  top: 3.357666015625px;
}
.e141_140 {
  width: 23px;
  height: 20px;
  position: absolute;
  left: 36px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_141 {
  color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 23px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.141_142 {
  border: 1px solid rgba(201.55481904745102, 178.50001215934753, 255, 1);
}
.e141_142 {
  width: 9.999999974752427e-7px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 20px;
}
.e158_372 {
  width: 88px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 112px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e158_373 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e158_379 {
  background-color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 15.5px;
  height: 20.220815658569336px;
  position: absolute;
  left: 2px;
  top: 0.357666015625px;
}
.e158_375 {
  width: 52px;
  height: 20px;
  position: absolute;
  left: 36px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e158_376 {
  color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 52px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.158_377 {
  border: 1px solid rgba(201.55481904745102, 178.50001215934753, 255, 1);
}
.e158_377 {
  width: 9.999999974752427e-7px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 20px;
}
.e141_24 {
  width: 92px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 168px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_25 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_26 {
  background-color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 16.2500057220459px;
  height: 16.096195220947266px;
  position: absolute;
  left: 1.874856948852539px;
  top: 1.952362060546875px;
}
.e141_27 {
  width: 56px;
  height: 20px;
  position: absolute;
  left: 36px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_28 {
  color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 56px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.141_29 {
  border: 1px solid rgba(201.55481904745102, 178.50001215934753, 255, 1);
}
.e141_29 {
  width: 9.999999974752427e-7px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 20px;
}
.e141_12 {
  width: 90px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 224px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_13 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_14 {
  background-color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 18.750099182128906px;
  height: 13.750015258789062px;
  position: absolute;
  left: 0.624396026134491px;
  top: 3.125px;
}
.e141_15 {
  width: 54px;
  height: 20px;
  position: absolute;
  left: 36px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e141_16 {
  color: rgba(201.55481904745102, 178.50001215934753, 255, 1);
  width: 54px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.141_17 {
  border: 1px solid rgba(201.55481904745102, 178.50001215934753, 255, 1);
}
.e141_17 {
  width: 9.999999974752427e-7px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 20px;
}
.e141_30 {
  background-color: rgba(251.25999748706818, 249.900004863739, 255, 1);
  width: 1239px;
  height: 753px;
  position: absolute;
  left: 201px;
  top: 32px;
  border-radius: Symbol(figma.mixed) px;
}
.e141_31 {
  width: 1175px;
  height: 64px;
  position: absolute;
  left: 32px;
  top: 48px;
}
.e141_32 {
  width: 1015px;
  height: 42px;
  position: absolute;
  left: 24px;
  top: 11px;
}
.e141_33 {
  color: rgba(63.66500236093998, 57.00099594891071, 55.3349981456995, 1);
  width: 126px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}
.e141_34 {
  background-color: rgba(
    199.0000033378601,
    199.0000033378601,
    205.00000298023224,
    1
  );
  width: 24.00017738342285px;
  height: 24px;
  position: absolute;
  left: 138px;
  top: 9px;
}
.e141_35 {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 1087px;
  top: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-image: url(images/profile_picture_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e141_36 {
  width: 1175px;
  height: 48px;
  position: absolute;
  left: 32px;
  top: 144px;
}
.e141_37 {
  background-color: rgba(
    124.00000020861626,
    58.00000034272671,
    237.0000010728836,
    1
  );
  width: 190.72628784179688px;
  height: 48px;
  position: absolute;
  left: 24px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e148_2120 {
  background-color: rgba(255, 255, 255, 1);
  width: 17.726287841796875px;
  height: 16.980113983154297px;
  position: absolute;
  left: 32px;
  top: 15.509943008422852px;
  border-radius: Symbol(figma.mixed) px;
}
.e141_40 {
  box-shadow: 0px 4px 16px
    rgba(
      22.000000588595867,
      22.000000588595867,
      22.000000588595867,
      0.10000000149011612
    );
  color: rgba(255, 255, 255, 1);
  width: 101px;
  height: 24px;
  position: absolute;
  left: 57.726287841796875px;
  top: 12px;
  font-family: Inter;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}
.e148_2044 {
  background-color: rgba(
    61.579993441700935,
    57.9999965429306,
    237.0000010728836,
    1
  );
  width: 135.5px;
  height: 48px;
  position: absolute;
  left: 230.72628784179688px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e148_2118 {
  background-color: rgba(255, 255, 255, 1);
  width: 15.499999046325684px;
  height: 17.475250244140625px;
  position: absolute;
  left: 32px;
  top: 15.262374877929688px;
}
.e148_2047 {
  box-shadow: 0px 4px 16px
    rgba(
      22.000000588595867,
      22.000000588595867,
      22.000000588595867,
      0.10000000149011612
    );
  color: rgba(255, 255, 255, 1);
  width: 48px;
  height: 24px;
  position: absolute;
  left: 55.5px;
  top: 12px;
  font-family: Inter;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}
.e148_2048 {
  background-color: rgba(0, 117.30000972747803, 255, 1);
  width: 130.5px;
  height: 48px;
  position: absolute;
  left: 382.2262878417969px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e148_2116 {
  background-color: rgba(255, 255, 255, 1);
  width: 15.5px;
  height: 20.243616104125977px;
  position: absolute;
  left: 32px;
  top: 13.878191947937012px;
}
.e148_2051 {
  box-shadow: 0px 4px 16px
    rgba(
      22.000000588595867,
      22.000000588595867,
      22.000000588595867,
      0.10000000149011612
    );
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: 24px;
  position: absolute;
  left: 55.5px;
  top: 12px;
  font-family: Inter;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}
.e148_2036 {
  background-color: rgba(
    57.9999965429306,
    118.85997802019119,
    237.0000010728836,
    1
  );
  width: 133.5px;
  height: 48px;
  position: absolute;
  left: 528.726318359375px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e148_2038 {
  background-color: rgba(255, 255, 255, 1);
  width: 22.5px;
  height: 12px;
  position: absolute;
  left: 32px;
  top: 18px;
}
.e148_2039 {
  box-shadow: 0px 4px 16px
    rgba(
      22.000000588595867,
      22.000000588595867,
      22.000000588595867,
      0.10000000149011612
    );
  color: rgba(255, 255, 255, 1);
  width: 39px;
  height: 24px;
  position: absolute;
  left: 62.5px;
  top: 12px;
  font-family: Inter;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  line-height: px;
}
.e148_2035 {
  width: 472.7737121582031px;
  height: 48px;
  position: absolute;
  left: 678.226318359375px;
  top: 0px;
}
.e148_2040 {
  box-shadow: 0px 4px 16px
    rgba(
      22.000000588595867,
      22.000000588595867,
      22.000000588595867,
      0.10000000149011612
    );
  background-color: rgba(255, 255, 255, 1);
  width: 424.7737121582031px;
  height: 48px;
  position: absolute;
  left: 24px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.148_2040 {
  border: 0.699999988079071px solid
    rgba(227.37499594688416, 227.37499594688416, 227.37499594688416, 1);
}
.e148_2042 {
  background-color: rgba(
    80.00000283122063,
    80.00000283122063,
    89.00000229477882,
    1
  );
  width: 19.500003814697266px;
  height: 19.5px;
  position: absolute;
  left: 24px;
  top: 14.25px;
}
.e148_2043 {
  color: rgba(124.00000020861626, 124.00000020861626, 138.00000697374344, 1);
  width: 371.2737121582031px;
  height: 16px;
  position: absolute;
  left: 53.500003814697266px;
  top: 16px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.e141_45 {
  width: 1175px;
  height: 821px;
  position: absolute;
  left: 32px;
  top: 224px;
}
.e141_46 {
  width: 235px;
  height: 821px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_49 {
  width: 235px;
  height: 299px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_50 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 215px;
  height: 299px;
  position: absolute;
  left: 10px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_322 {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 43.5px;
  top: 24px;
}
.e141_323 {
  background-color: rgba(
    200.00000327825546,
    66.00000366568565,
    29.000000171363354,
    1
  );
  width: 116px;
  height: 58px;
  position: absolute;
  left: 12.300000190734863px;
  top: 64.30000305175781px;
}
.e141_324 {
  background-color: rgba(255, 143.00000667572021, 106.00000128149986, 1);
  width: 58px;
  height: 58.000003814697266px;
  position: absolute;
  left: 70.30000305175781px;
  top: 6.300000190734863px;
}
.e141_325 {
  background-color: rgba(
    237.0000010728836,
    107.00000122189522,
    71.00000336766243,
    1
  );
  width: 58px;
  height: 58.000003814697266px;
  position: absolute;
  left: 12.399999618530273px;
  top: 6.300000190734863px;
}
.e141_326 {
  background-color: rgba(
    200.00000327825546,
    66.00000366568565,
    29.000000171363354,
    1
  );
  width: 65.79999542236328px;
  height: 65px;
  position: absolute;
  left: -0.10000000149011612px;
  top: 31.5px;
}
.e141_327 {
  width: 29.499998092651367px;
  height: 37.80000305175781px;
  position: absolute;
  left: 20.600000381469727px;
  top: 44.5px;
}
.e141_328 {
  background-color: rgba(255, 255, 255, 1);
  width: 29.499998092651367px;
  height: 37.80000305175781px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_329 {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.20000000298023224;
  width: 48.503143310546875px;
  height: 64.89999389648438px;
  position: absolute;
  left: 22.299999237060547px;
  top: 37.29999923706055px;
}
.e141_330 {
  background-color: rgba(255, 255, 255, 1);
  width: 167px;
  height: 81px;
  position: absolute;
  left: 24px;
  top: 162px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_51 {
  color: rgba(63.66500236093998, 57.00099594891071, 55.3349981456995, 1);
  width: 69px;
  height: 18px;
  position: absolute;
  left: 49px;
  top: 17.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_52 {
  color: rgba(117.32550635933876, 105.04469454288483, 101.9744972884655, 1);
  width: 103px;
  height: 18px;
  position: absolute;
  left: 32px;
  top: 45.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_54 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 93px;
  height: 22px;
  position: absolute;
  left: 61px;
  top: 253px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_765 {
  border-radius: 500px;
  background-color: rgba(
    124.00000020861626,
    58.00000034272671,
    237.0000010728836,
    1
  );
  width: 6px;
  height: 6px;
  position: absolute;
  left: 26.5px;
  top: 14px;
}
.e141_55 {
  color: rgba(124.00000020861626, 58.00000034272671, 237.0000010728836, 1);
  width: 28px;
  height: 14px;
  position: absolute;
  left: 38.5px;
  top: 4px;
  font-family: Inter;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
}
.e141_385 {
  width: 235px;
  height: 821px;
  position: absolute;
  left: 235px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_386 {
  width: 235px;
  height: 299px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_387 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 215px;
  height: 299px;
  position: absolute;
  left: 10px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_589 {
  width: 106.84297180175781px;
  height: 128px;
  position: absolute;
  left: 54.078514099121094px;
  top: 24px;
}
.e141_590 {
  width: 107.36734008789062px;
  height: 127.97978210449219px;
  position: absolute;
  left: -0.10606344789266586px;
  top: 0.010264008305966854px;
}
.e141_591 {
  width: 107.36734008789062px;
  height: 127.97978210449219px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_592 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 18.65468978881836px;
  height: 18.777379989624023px;
  position: absolute;
  left: 88.64353942871094px;
  top: 0.01703737862408161px;
}
.e141_593 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 6.190736293792725px;
  height: 9.911913871765137px;
  position: absolute;
  left: 32.423831939697266px;
  top: 24.811328887939453px;
}
.e141_594 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 4.009110927581787px;
  height: 4.603082180023193px;
  position: absolute;
  left: 19.5775089263916px;
  top: 24.77031135559082px;
}
.e141_595 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 70.20156860351562px;
  height: 33.37099838256836px;
  position: absolute;
  left: -1.1909682484656514e-7px;
  top: 13.073141098022461px;
}
.e141_596 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 4.467929363250732px;
  height: 14.167040824890137px;
  position: absolute;
  left: 57.00776290893555px;
  top: 59.730567932128906px;
}
.e141_597 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 13.393574714660645px;
  height: 5.408350467681885px;
  position: absolute;
  left: 72.21133422851562px;
  top: 91.09812927246094px;
}
.e141_598 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 11.722180366516113px;
  height: 10.602343559265137px;
  position: absolute;
  left: 36.668975830078125px;
  top: 98.6925277709961px;
}
.e141_599 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 12.078457832336426px;
  height: 12.719125747680664px;
  position: absolute;
  left: 56.12028884887695px;
  top: 81.42522430419922px;
}
.e141_600 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 94.97864532470703px;
  height: 127.97978210449219px;
  position: absolute;
  left: 12.38869571685791px;
  top: 3.8178444583536475e-7px;
}
.e141_601 {
  background-color: rgba(255, 255, 255, 1);
  width: 54.58860397338867px;
  height: 53.272308349609375px;
  position: absolute;
  left: 34.96086120605469px;
  top: 58.19923782348633px;
}
.e141_602 {
  width: 37.241207122802734px;
  height: 15.109487533569336px;
  position: absolute;
  left: 15.970794677734375px;
  top: 22.234500885009766px;
}
.e141_603 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 8.836895942687988px;
  height: 14.829310417175293px;
  position: absolute;
  left: 28.40431022644043px;
  top: 0.10695923864841461px;
}
.e141_604 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 13.255026817321777px;
  height: 15.109487533569336px;
  position: absolute;
  left: 12.939741134643555px;
  top: -1.180724353844198e-7px;
}
.e141_605 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 10.926506996154785px;
  height: 14.935954093933105px;
  position: absolute;
  left: 0px;
  top: 0.000634312629699707px;
}
.e141_396 {
  background-color: rgba(255, 255, 255, 1);
  width: 167px;
  height: 81px;
  position: absolute;
  left: 24px;
  top: 162px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_397 {
  color: rgba(63.66500236093998, 57.00099594891071, 55.3349981456995, 1);
  width: 61px;
  height: 18px;
  position: absolute;
  left: 53px;
  top: 17.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_398 {
  color: rgba(117.32550635933876, 105.04469454288483, 101.9744972884655, 1);
  width: 103px;
  height: 18px;
  position: absolute;
  left: 32px;
  top: 45.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_766 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 93px;
  height: 22px;
  position: absolute;
  left: 61px;
  top: 253px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_767 {
  border-radius: 500px;
  background-color: rgba(
    124.00000020861626,
    58.00000034272671,
    237.0000010728836,
    1
  );
  width: 6px;
  height: 6px;
  position: absolute;
  left: 26.5px;
  top: 14px;
}
.e141_768 {
  color: rgba(124.00000020861626, 58.00000034272671, 237.0000010728836, 1);
  width: 28px;
  height: 14px;
  position: absolute;
  left: 38.5px;
  top: 4px;
  font-family: Inter;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
}
.e141_606 {
  width: 235px;
  height: 821px;
  position: absolute;
  left: 470px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_607 {
  width: 235px;
  height: 299px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_608 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 215px;
  height: 299px;
  position: absolute;
  left: 10px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_609 {
  width: 106.84297180175781px;
  height: 128px;
  position: absolute;
  left: 54.078514099121094px;
  top: 24px;
}
.e141_610 {
  width: 107.36734008789062px;
  height: 127.97978210449219px;
  position: absolute;
  left: -0.10606344789266586px;
  top: 0.010264008305966854px;
}
.e141_611 {
  width: 107.36734008789062px;
  height: 127.97978210449219px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_612 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 18.65468978881836px;
  height: 18.777379989624023px;
  position: absolute;
  left: 88.64353942871094px;
  top: 0.01703737862408161px;
}
.e141_613 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 6.190736293792725px;
  height: 9.911913871765137px;
  position: absolute;
  left: 32.423831939697266px;
  top: 24.811328887939453px;
}
.e141_614 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 4.009110927581787px;
  height: 4.603082180023193px;
  position: absolute;
  left: 19.5775089263916px;
  top: 24.77031135559082px;
}
.e141_615 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 70.20156860351562px;
  height: 33.37099838256836px;
  position: absolute;
  left: -1.1909682484656514e-7px;
  top: 13.073141098022461px;
}
.e141_616 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 4.467929363250732px;
  height: 14.167040824890137px;
  position: absolute;
  left: 57.00776290893555px;
  top: 59.730567932128906px;
}
.e141_617 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 13.393574714660645px;
  height: 5.408350467681885px;
  position: absolute;
  left: 72.21133422851562px;
  top: 91.09812927246094px;
}
.e141_618 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 11.722180366516113px;
  height: 10.602343559265137px;
  position: absolute;
  left: 36.668975830078125px;
  top: 98.6925277709961px;
}
.e141_619 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 12.078457832336426px;
  height: 12.719125747680664px;
  position: absolute;
  left: 56.12028884887695px;
  top: 81.42522430419922px;
}
.e141_620 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 94.97864532470703px;
  height: 127.97978210449219px;
  position: absolute;
  left: 12.38869571685791px;
  top: 3.8178444583536475e-7px;
}
.e141_621 {
  background-color: rgba(255, 255, 255, 1);
  width: 54.58860397338867px;
  height: 53.272308349609375px;
  position: absolute;
  left: 34.96086120605469px;
  top: 58.19923782348633px;
}
.e141_622 {
  width: 37.241207122802734px;
  height: 15.109487533569336px;
  position: absolute;
  left: 15.970794677734375px;
  top: 22.234500885009766px;
}
.e141_623 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 8.836895942687988px;
  height: 14.829310417175293px;
  position: absolute;
  left: 28.40431022644043px;
  top: 0.10695923864841461px;
}
.e141_624 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 13.255026817321777px;
  height: 15.109487533569336px;
  position: absolute;
  left: 12.939741134643555px;
  top: -1.180724353844198e-7px;
}
.e141_625 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 10.926506996154785px;
  height: 14.935954093933105px;
  position: absolute;
  left: 0px;
  top: 0.000634312629699707px;
}
.e141_626 {
  background-color: rgba(255, 255, 255, 1);
  width: 167px;
  height: 81px;
  position: absolute;
  left: 24px;
  top: 162px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_627 {
  color: rgba(63.66500236093998, 57.00099594891071, 55.3349981456995, 1);
  width: 61px;
  height: 18px;
  position: absolute;
  left: 53px;
  top: 17.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_628 {
  color: rgba(117.32550635933876, 105.04469454288483, 101.9744972884655, 1);
  width: 103px;
  height: 18px;
  position: absolute;
  left: 32px;
  top: 45.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_772 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 93px;
  height: 22px;
  position: absolute;
  left: 61px;
  top: 253px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_773 {
  border-radius: 500px;
  background-color: rgba(
    55.00000052154064,
    125.00000014901161,
    208.0000028014183,
    1
  );
  width: 6px;
  height: 6px;
  position: absolute;
  left: 13px;
  top: 14px;
}
.e141_774 {
  color: rgba(55.00000052154064, 125.00000014901161, 208.0000028014183, 1);
  width: 55px;
  height: 14px;
  position: absolute;
  left: 25px;
  top: 4px;
  font-family: Inter;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
}
.e141_656 {
  width: 235px;
  height: 821px;
  position: absolute;
  left: 705px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_657 {
  width: 235px;
  height: 299px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_658 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 215px;
  height: 299px;
  position: absolute;
  left: 10px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_756 {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 43.5px;
  top: 24px;
}
.e141_757 {
  background-color: rgba(
    65.0000037252903,
    165.00000536441803,
    237.0000010728836,
    1
  );
  width: 98.4000015258789px;
  height: 29.700000762939453px;
  position: absolute;
  left: 29.600000381469727px;
  top: 4.5px;
}
.e141_758 {
  background-color: rgba(
    44.000001177191734,
    123.0000002682209,
    213.00000250339508,
    1
  );
  width: 98.4000015258789px;
  height: 29.799999237060547px;
  position: absolute;
  left: 29.600000381469727px;
  top: 34.20000076293945px;
}
.e141_759 {
  background-color: rgba(
    25.000000409781933,
    90.00000223517418,
    190.0000038743019,
    1
  );
  width: 98.4000015258789px;
  height: 29.800003051757812px;
  position: absolute;
  left: 29.600000381469727px;
  top: 64px;
}
.e141_760 {
  background-color: rgba(
    16.000000946223736,
    62.00000010430813,
    145.00000655651093,
    1
  );
  width: 98.30000305175781px;
  height: 29.699996948242188px;
  position: absolute;
  left: 29.700000762939453px;
  top: 93.80000305175781px;
}
.e141_761 {
  background-color: rgba(
    33.00000183284283,
    102.00000151991844,
    195.0000035762787,
    1
  );
  width: 65.80000305175781px;
  height: 65px;
  position: absolute;
  left: 0.10000000149011612px;
  top: 31.5px;
}
.e141_762 {
  width: 45.599998474121094px;
  height: 36px;
  position: absolute;
  left: 10.399999618530273px;
  top: 46.5px;
}
.e141_763 {
  background-color: rgba(255, 255, 255, 1);
  width: 45.599998474121094px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_764 {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.20000000298023224;
  width: 41.60000228881836px;
  height: 64.89999389648438px;
  position: absolute;
  left: 29.700000762939453px;
  top: 37.29999923706055px;
}
.e141_676 {
  background-color: rgba(255, 255, 255, 1);
  width: 167px;
  height: 81px;
  position: absolute;
  left: 24px;
  top: 162px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_677 {
  color: rgba(63.66500236093998, 57.00099594891071, 55.3349981456995, 1);
  width: 72px;
  height: 18px;
  position: absolute;
  left: 47.5px;
  top: 17.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_678 {
  color: rgba(117.32550635933876, 105.04469454288483, 101.9744972884655, 1);
  width: 103px;
  height: 18px;
  position: absolute;
  left: 32px;
  top: 45.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_769 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 93px;
  height: 22px;
  position: absolute;
  left: 61px;
  top: 253px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_770 {
  border-radius: 500px;
  background-color: rgba(
    111.00000098347664,
    196.00000351667404,
    137.00000703334808,
    1
  );
  width: 6px;
  height: 6px;
  position: absolute;
  left: 9.5px;
  top: 14px;
}
.e141_771 {
  color: rgba(111.00000098347664, 196.00000351667404, 137.00000703334808, 1);
  width: 62px;
  height: 14px;
  position: absolute;
  left: 21.5px;
  top: 4px;
  font-family: Inter;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
}
.e141_731 {
  width: 235px;
  height: 821px;
  position: absolute;
  left: 940px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_732 {
  width: 235px;
  height: 299px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_733 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 215px;
  height: 299px;
  position: absolute;
  left: 10px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_734 {
  width: 106.84297180175781px;
  height: 128px;
  position: absolute;
  left: 54.078514099121094px;
  top: 24px;
}
.e141_735 {
  width: 107.36734008789062px;
  height: 127.97978210449219px;
  position: absolute;
  left: -0.10606344789266586px;
  top: 0.010264008305966854px;
}
.e141_736 {
  width: 107.36734008789062px;
  height: 127.97978210449219px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e141_737 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 18.65468978881836px;
  height: 18.777379989624023px;
  position: absolute;
  left: 88.64353942871094px;
  top: 0.01703737862408161px;
}
.e141_738 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 6.190736293792725px;
  height: 9.911913871765137px;
  position: absolute;
  left: 32.423831939697266px;
  top: 24.811328887939453px;
}
.e141_739 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 4.009110927581787px;
  height: 4.603082180023193px;
  position: absolute;
  left: 19.5775089263916px;
  top: 24.77031135559082px;
}
.e141_740 {
  background-color: rgba(
    241.00000083446503,
    241.00000083446503,
    241.00000083446503,
    1
  );
  width: 70.20156860351562px;
  height: 33.37099838256836px;
  position: absolute;
  left: -1.1909682484656514e-7px;
  top: 13.073141098022461px;
}
.e141_741 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 4.467929363250732px;
  height: 14.167040824890137px;
  position: absolute;
  left: 57.00776290893555px;
  top: 59.730567932128906px;
}
.e141_742 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 13.393574714660645px;
  height: 5.408350467681885px;
  position: absolute;
  left: 72.21133422851562px;
  top: 91.09812927246094px;
}
.e141_743 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 11.722180366516113px;
  height: 10.602343559265137px;
  position: absolute;
  left: 36.668975830078125px;
  top: 98.6925277709961px;
}
.e141_744 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 12.078457832336426px;
  height: 12.719125747680664px;
  position: absolute;
  left: 56.12028884887695px;
  top: 81.42522430419922px;
}
.e141_745 {
  background-color: rgba(220.00000208616257, 29.000000171363354, 0, 1);
  width: 94.97864532470703px;
  height: 127.97978210449219px;
  position: absolute;
  left: 12.38869571685791px;
  top: 3.8178444583536475e-7px;
}
.e141_746 {
  background-color: rgba(255, 255, 255, 1);
  width: 54.58860397338867px;
  height: 53.272308349609375px;
  position: absolute;
  left: 34.96086120605469px;
  top: 58.19923782348633px;
}
.e141_747 {
  width: 37.241207122802734px;
  height: 15.109487533569336px;
  position: absolute;
  left: 15.970794677734375px;
  top: 22.234500885009766px;
}
.e141_748 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 8.836895942687988px;
  height: 14.829310417175293px;
  position: absolute;
  left: 28.40431022644043px;
  top: 0.10695923864841461px;
}
.e141_749 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 13.255026817321777px;
  height: 15.109487533569336px;
  position: absolute;
  left: 12.939741134643555px;
  top: -1.180724353844198e-7px;
}
.e141_750 {
  background-color: rgba(165.00000536441803, 22.000000588595867, 0, 1);
  width: 10.926506996154785px;
  height: 14.935954093933105px;
  position: absolute;
  left: 0px;
  top: 0.000634312629699707px;
}
.e141_751 {
  background-color: rgba(255, 255, 255, 1);
  width: 167px;
  height: 81px;
  position: absolute;
  left: 24px;
  top: 162px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_752 {
  color: rgba(63.66500236093998, 57.00099594891071, 55.3349981456995, 1);
  width: 69px;
  height: 18px;
  position: absolute;
  left: 49px;
  top: 17.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_753 {
  color: rgba(117.32550635933876, 105.04469454288483, 101.9744972884655, 1);
  width: 103px;
  height: 18px;
  position: absolute;
  left: 32px;
  top: 45.5px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e141_775 {
  box-shadow: 0px 4px 16px
    rgba(234.18079555034637, 226.38900965452194, 253.0109891295433, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 93px;
  height: 22px;
  position: absolute;
  left: 61px;
  top: 253px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e141_776 {
  border-radius: 500px;
  background-color: rgba(
    111.00000098347664,
    196.00000351667404,
    137.00000703334808,
    1
  );
  width: 6px;
  height: 6px;
  position: absolute;
  left: 9.5px;
  top: 14px;
}
.e141_777 {
  color: rgba(111.00000098347664, 196.00000351667404, 137.00000703334808, 1);
  width: 62px;
  height: 14px;
  position: absolute;
  left: 21.5px;
  top: 4px;
  font-family: Inter;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
}
