<html>
  <head>
    <title>Item Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/mypage.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="e141_2">
      <div class="e141_3">
        <div class="e141_4"></div>
        <div class="e141_5">
          <div class="e141_131">
            <div class="e141_132">
              <div class="e141_133"></div>
            </div>
            <div class="e141_134">
              <span class="e141_135">Document</span>
              <div class="e141_136"></div>
            </div>
          </div>
          <div class="e141_137">
            <div class="e141_138">
              <div class="e158_382"></div>
            </div>
            <div class="e141_140">
              <span class="e141_141">DB</span>
              <div class="e141_142"></div>
            </div>
          </div>
          <div class="e158_372">
            <div class="e158_373">
              <div class="e158_379"></div>
            </div>
            <div class="e158_375">
              <span class="e158_376">Report</span>
              <div class="e158_377"></div>
            </div>
          </div>
          <div class="e141_24">
            <div class="e141_25">
              <div class="e141_26"></div>
            </div>
            <div class="e141_27">
              <span class="e141_28">Setting</span>
              <div class="e141_29"></div>
            </div>
          </div>
          <div class="e141_12">
            <div class="e141_13">
              <div class="e141_14"></div>
            </div>
            <div class="e141_15">
              <span class="e141_16">Logout</span>
              <div class="e141_17"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="e141_30">
        <div class="e141_31">
          <div class="e141_32">
            <span class="e141_33">사용자 님</span>
            <div class="e141_34"></div>
          </div>
          <div class="e141_35"></div>
        </div>
        <div class="e141_36">
          <div class="e141_37">
            <div class="e148_2120"></div>
            <span class="e141_40">Plagiarism Test</span>
          </div>
          <div class="e148_2044">
            <div class="e148_2118"></div>
            <span class="e148_2047">Upload</span>
          </div>
          <div class="e148_2048">
            <div class="e148_2116"></div>
            <span class="e148_2051">Delete</span>
          </div>
          <div class="e148_2036">
            <div class="e148_2038"></div>
            <span class="e148_2039">Filtrar</span>
          </div>
          <div class="e148_2035">
            <div class="e148_2040">
              <div class="e148_2042"></div>
              <span class="e148_2043">Search for a file name or extension</span>
            </div>
          </div>
        </div>
        <div class="e141_45">
          <div class="e141_46">
            <div class="e141_49">
              <div class="e141_50">
                <div class="e141_322">
                  <div class="e141_323"></div>
                  <div class="e141_324"></div>
                  <div class="e141_325"></div>
                  <div class="e141_326"></div>
                  <div class="e141_327">
                    <div class="e141_328"></div>
                  </div>
                  <div class="e141_329"></div>
                </div>
                <div class="e141_330">
                  <span class="e141_51">hello.pptx</span
                  ><span class="e141_52">23.03.01. 19:00</span>
                </div>
                <div class="e141_54">
                  <div class="e141_765"></div>
                  <span class="e141_55">Done</span>
                </div>
              </div>
            </div>
          </div>
          <div class="e141_385">
            <div class="e141_386">
              <div class="e141_387">
                <div class="e141_589">
                  <div class="e141_590">
                    <div class="e141_591">
                      <div class="e141_592"></div>
                      <div class="e141_593"></div>
                      <div class="e141_594"></div>
                      <div class="e141_595"></div>
                      <div class="e141_596"></div>
                      <div class="e141_597"></div>
                      <div class="e141_598"></div>
                      <div class="e141_599"></div>
                      <div class="e141_600"></div>
                      <div class="e141_601"></div>
                      <div class="e141_602">
                        <div class="e141_603"></div>
                        <div class="e141_604"></div>
                        <div class="e141_605"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="e141_396">
                  <span class="e141_397">hello.pdf</span
                  ><span class="e141_398">23.03.01. 19:00</span>
                </div>
                <div class="e141_766">
                  <div class="e141_767"></div>
                  <span class="e141_768">Done</span>
                </div>
              </div>
            </div>
          </div>
          <div class="e141_606">
            <div class="e141_607">
              <div class="e141_608">
                <div class="e141_609">
                  <div class="e141_610">
                    <div class="e141_611">
                      <div class="e141_612"></div>
                      <div class="e141_613"></div>
                      <div class="e141_614"></div>
                      <div class="e141_615"></div>
                      <div class="e141_616"></div>
                      <div class="e141_617"></div>
                      <div class="e141_618"></div>
                      <div class="e141_619"></div>
                      <div class="e141_620"></div>
                      <div class="e141_621"></div>
                      <div class="e141_622">
                        <div class="e141_623"></div>
                        <div class="e141_624"></div>
                        <div class="e141_625"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="e141_626">
                  <span class="e141_627">hello.pdf</span
                  ><span class="e141_628">23.03.01. 19:00</span>
                </div>
                <div class="e141_772">
                  <div class="e141_773"></div>
                  <span class="e141_774">In process</span>
                </div>
              </div>
            </div>
          </div>
          <div class="e141_656">
            <div class="e141_657">
              <div class="e141_658">
                <div class="e141_756">
                  <div class="e141_757"></div>
                  <div class="e141_758"></div>
                  <div class="e141_759"></div>
                  <div class="e141_760"></div>
                  <div class="e141_761"></div>
                  <div class="e141_762">
                    <div class="e141_763"></div>
                  </div>
                  <div class="e141_764"></div>
                </div>
                <div class="e141_676">
                  <span class="e141_677">hello.docx</span
                  ><span class="e141_678">23.03.01. 19:00</span>
                </div>
                <div class="e141_769">
                  <div class="e141_770"></div>
                  <span class="e141_771">Not Started</span>
                </div>
              </div>
            </div>
          </div>
          <div class="e141_731">
            <div class="e141_732">
              <div class="e141_733">
                <div class="e141_734">
                  <div class="e141_735">
                    <div class="e141_736">
                      <div class="e141_737"></div>
                      <div class="e141_738"></div>
                      <div class="e141_739"></div>
                      <div class="e141_740"></div>
                      <div class="e141_741"></div>
                      <div class="e141_742"></div>
                      <div class="e141_743"></div>
                      <div class="e141_744"></div>
                      <div class="e141_745"></div>
                      <div class="e141_746"></div>
                      <div class="e141_747">
                        <div class="e141_748"></div>
                        <div class="e141_749"></div>
                        <div class="e141_750"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="e141_751">
                  <span class="e141_752">hello.pptx</span
                  ><span class="e141_753">23.03.01. 19:00</span>
                </div>
                <div class="e141_775">
                  <div class="e141_776"></div>
                  <span class="e141_777">Not Started</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/main_script.js') }}"></script>
  </body>
</html>
